<!DOCTYPE html>
<html>


    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-danger" href="../welcome/">SALTY DOG</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to 'Photos', '#'%></li>
            <li><%= link_to 'About', '#'%></li>
            <li><%= link_to 'Store', '#'%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <%if (current_user) == nil%>
            <li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Register">
              Register
            </button></li>
                <%end%>
            <%if (current_user) == nil %>
    <li><%= link_to 'Log-In', new_session_path%></li>
<%else %>
    <li><%=current_user.email%></li>
    <li><%= link_to 'My Blogs', post_by_user_path%></li>
    <li><%=link_to 'Log-Out', destroy_session_path%></li>
<%end%>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
</ul>
</div>
</div>
</nav>
<body>
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <br>
        <br/>
        <br/>
        <iframe width="740" height="400" src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=4223" frameborder="0" scrolling="no" allowfullscreen></iframe><div style="margin: 10px 0px;"><a href="http://www.surfline.com/surf-report/hb-pier-northside-southern-california_4223/" target="_blank" title="HB Pier, Northside Surf Report and HD Surf Cam">HB Pier, Northside</a> Live HD Surf Cam.</div>

        <h1 class="page-header">
          Salty Dog Blog
        </h1>

        <!-- First Blog Post -->
        <h2>

          <% @posts.each do |post| %>
          <%=post.title%>
        </h2>

          <span class="glyphicon glyphicon-time"></span>
          <h5>Posted by: <%= post.user.email %>&nbsp;&nbsp;<small><%= post.updated_at%></small></h5>
        <hr>
        <img class="img-responsive" src="https://placehold.it/900x300" alt="">
        <hr>
            <br>

        <p><%=truncate(post.blogContent, length:100)%></p>
        <%=link_to 'Read More', show_post_path(post.id) %><span class="glyphicon glyphicon-chevron-right"></span></a>
        <% end %>
        <hr>
          <h2>
            <a href="#">Croatia - Stay Wavy</a>
          </h2>
          <p class="lead">
            by <a href="index.php">Martin</a>
          </p>
          <p><span class="glyphicon glyphicon-time"></span> Posted on June 7, 2015 at 10:45 PM</p>
          <hr>
          <img class="img-responsive" src="http://i284.photobucket.com/albums/ll10/averagemaza/beach_zpsgfueqpsl.jpg">
          <hr>
          <p>Premium Day with waves and a thousand steps!</p>
          <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>
          <h2>
            <a href="#">Long Hair - Don't Care</a>
          </h2>
          <p class="lead">
            by <a href="index.php">Martin</a>
          </p>
          <p><span class="glyphicon glyphicon-time"></span> Posted on June 7, 2015 at 10:45 PM</p>
          <hr>
          <img class="img-responsive" src="http://i284.photobucket.com/albums/ll10/averagemaza/hair_zpslolimffz.jpg">
          <hr>
          <p>Old Days Golden!</p>
          <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>

          <hr>
          <h2>
            <a href="#">Black's Beach - Nude Beach</a>
          </h2>
          <p class="lead">
            by <a href="index.php">Martin</a>
          </p>
          <p><span class="glyphicon glyphicon-time"></span> Posted on June 7, 2015 at 10:45 PM</p>
          <hr>
          <img class="img-responsive" src="http://i284.photobucket.com/albums/ll10/averagemaza/hair_zpslolimffz.jpg">
          <hr>
          <p>Not so great Nude Beach, Not what I image!</p>
          <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

          <hr>


        <!-- Pager -->
        <ul class="pager">
          <li class="previous">
            <a href="#">&larr; Older</a>
          </li>
          <li class="next">
            <a href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">
        <br>
        <br>
        <br>
        <!-- Blog Search Well -->
        <div class="well">
          <h4>Blog Search</h4>
          <div class="input-group">
            <!--<input type="text" class="form-control">-->
                        <span class="input-group-btn">
            <%= form_tag(root_path, method: "get") do %>
                Search Blogs by
                              <%= select_tag "type", options_for_select([
                                                           ["Huntington Beach", "286" ],
                                                           ["Newport Beach", "246"],
                                                           ["Africa", "3780"],
                                                           ['Spain', '4285'],
                                                           ['Indo', '566'],['Japan', '606']]), "class" => "select1"%>
                              <%= submit_tag "Search", "class" => "btn btn-primary" %>
            <% end %>


                        </span>

          </div>
          <!-- /.input-group -->
        </div>
        <!-- Side Widget Well -->
        <div class="well">
          <h4>SURF FORECAST API</h4>
          <p><%#= @response.request.last_uri.to_s %></p>
          <p><%#= params[:type] %></p>
          <table border=3>
            <tr>
              <td>
                <%= @response[0]['swell'].keys[0] = "Minimum Breaking Height" %>
              </td>
              <td>
                <%=@response[0]['swell']['minBreakingHeight'].to_s + " ft." %>
              </td>
            </tr>
            <tr>
              <td>
                <%=@response[2]['condition'].keys[1] = "Water Temperature" %>
              </td>
              <td>
                <%=@response[2]['condition']['temperature'].to_s + "°F" %>
              </td>
            </tr>
            <tr>
              <td>
                <%=@response[1]['wind'].keys[0] = "Wind Speed/Direction"%>
              </td>
              <td>
                <%=@response[1]['wind']['speed'].to_s + ' mph ' + @response[1]['wind']['compassDirection'].to_s %>
              </td>
            </tr>
          </table>

        </div>
        <!-- Blog Categories Well -->
        <div class="well">
          <h4>Blog Categories</h4>
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
                </li>
              </ul>
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </div>



      </div>

    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Register">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <%= render 'layouts/reg'%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Salty Dog 2015</p>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </footer>

  </div>
</body>
</html>