<div class="user_register">
   <%= form_for @user,url: create_user_path do |f| %>

        <% flash.each do |key,value|  %>
        <div class="<%= key %>" > <%= value %> </div>
        <% end %>

        <%= f.label :email  %>
        <%= f.email_field :email, class: 'label' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'label' %>

        <%= f.label :password_confirmation, "Confirm" %>
        <%= f.password_field :password_confirmation, class: 'label' %>
        <%= f.submit "Create my account"%>
    <% end %>


    <div class="action_btns">
      <div class="one_half">
        <a class="btn back_btn" href="#">Log-In</a>
      </div>

      <div class="one_half last">
        <a class="btn btn_red" href="#">Exit</a>
      </div>
    </div>

</div>